[run]
branch = True
source = src

[report]
omit = 
   **/game_old/**
   **/log_decorator.py
   **/custom_log.py
   **/__version__.py
   **/__main__.py

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[xml]
output=.coverage.xml

[paths]
source =
   src
   .tox/**/site-packages
