jsonpickle
tornado
uuid
brython>3.9
mockbrython
# Uncertain about these yet.
# connexion==2.2.0
connexion[swagger-ui]==2.2.0
openapi-spec-validator==0.2.9
Flask==1.0.2
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
gunicorn
# marshmallow==2.18.0
# marshmallow-sqlalchemy==0.15.0
# Version 3.x of marshmallow makes incompatible changes.
# I'm not ready to deal with the updates yet.
marshmallow==2.21.0
# marshmallow-sqlalchemy 0.24.x requires marshmallow 3.x
marshmallow-sqlalchemy==0.23.1
psycopg2-binary
SQLAlchemy==1.2.17
Werkzeug==0.14.1
#eralchemy
