<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pinochle</title>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.0/brython.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.0/brython_stdlib.min.js">
    <script src="https://cdn.jsdelivr.net/gh/andy31lewis/brySVG@0.4.0/brySVG.brython.js"></script>
    </script>
    -->
    <script type="text/javascript" src="/static/brython.min.js"></script>
    <script type="text/javascript" src="/static/brython_stdlib.js"></script>
    <!-- <script type="text/javascript" src="/static/brySVG.brython.js"></script> -->
    <script type="text/python" src="/static/dragdrop.py"></script>
    <link rel="stylesheet" href="/static/standard.css" type="text/css" />
  </head>
  <body onload="brython(1)" onresize="clear_display()">
    <div style="text-align:center; overflow:hidden;" id='top_container'>
      <div id='card_definitions' style = "position:relative; display:inline-block; width:0; height:0; padding:0;"></div>
      <div id='card_table' style = "position:relative; display:inline-block; padding:0;">
        <p id='please_wait'><em>Loading, this can take a minute or two... Please wait.</em></p>
      </div>
    </div>
  </body>
</html>
