<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>
        Pinochle
    </title>
     <link rel="stylesheet" href="/static/standard.css" type="text/css" />
     <link rel="stylesheet" href="/static/dominate.css" type="text/css" />
    <script src="/static/brython.min.js"></script>    
    <script src="/static/brython_stdlib.js"></script>
    <script type="text/python" src="/static/dragdrop3.py"></script>
  </head>

  <body onLoad="brython(1)" ondragstart="return false;" ondrop="return false;">
    <div  style = "height:100%; text-align:center; overflow:hidden;">
      <div id="header" style = "float:left; width:100%">
        <div>
          <h1>
            Pinochle
          </h1>
        <div style="clear:both;"></div>
        </div>
      </div>
      <div id="controls" style ="float:left; width:100%; padding:0% 0% 2%;">
          <button id="startgame" style="margin-right:2%">New Puzzle</button>
          <button id="restart" style="margin-right:2%">Restart</button>
      </div>
      <div id="drawarea", style ="display:inline-block; width:90%; height:100%; padding:0;">
        <div id="game" style = "position:relative; display:inline-block; width:100%; height:100%; padding:0;">
        </div>
      </div>
    </div>
  </body>
</html>
