<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pinochle</title>
  <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.3/brython.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.3/brython_stdlib.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/andy31lewis/brySVG@0.6.0/brySVG.brython.js"></script>
    -->
  <script type="text/javascript" src="/static/brython.min.js"></script>
  <script type="text/javascript" src="/static/brython_stdlib.js"></script>
  <!-- Retrieve and compile brySVG's dragdrop.py instead of using the JS file for now.
      <script type="text/javascript" src="/static/brySVG.brython.js"></script>
    -->
  <script type="text/python" src="../static/cardtable.py"></script>
  <link rel="stylesheet" href="/static/standard.css" type="text/css" />
</head>

<body onload="brython(1)">
  <div style="overflow:hidden;" id="game_header">
    <div style="text-align:center; overflow:hidden;" id='player_name'>
      <span style="visibility: hidden;">John</span>
    </div>
    <div style="text-align:center; overflow:hidden;" id='other_players'>
      <span style="visibility: hidden;">Paul, George, Ringo</span>
    </div>
    <div style="text-align:center; overflow:hidden;" id='game_status'>
      <br/>
      <span style="visibility: hidden;">Score:</span>
    </div>
  </div>
  <div style="text-align:center; overflow:hidden;" id='top_container'>
    <p id='please_wait'><em>Loading, this can take a minute or two... Please wait.</em></p>
    <div id='card_definitions' style="position:relative; display:inline-block; width:0; height:0; padding:0;"></div>
    <div id='card_table' style="position:relative; display:inline-block; padding:0;">
    </div>
  </div>
</body>

</html>
