body {
    background-color: black;
    color: white;
}

body.nowebsock {
    background-color: #100;
}

h1 {
    color: white;
    text-align: center;
}

a, tr {
    font-size: 3vw;
    color: white;
}

form {
    color: white;
}

input {
    font-size: 3vw;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    font-family: sans-serif;
    left: 8px;
    text-align: center;
    color: white;
}

.strike {
    font-style: italic;
    text-decoration: line-through;
    /*font-size: .75vw;*/
}

.header {
    display: grid;
    grid-template-columns: 1fr;
}

.prize {
    display: grid;
    grid-template-columns: 1fr;
}

.admin {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

.disclaimer {
    grid-column: 1;
}

.disclaimerp {
    color: white;
    margin-top: 0;
    /*border: 2px solid #73AD21;*/
}

.image {
    grid-column: 1;
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

.headerdate {
    grid-column: 1;
}

.headerdatep {
    color: white;
    margin-top: 0;
    /*border: 2px solid #73AD21;*/
}

.hidden {
    display: none;
}
.no-js .hidden {
    display: block;
}

#date {
    margin-top: 0;
    margin-bottom: 0;
}

.announcement {
    text-align: center;
    color: white;
}

/* This is the non-mobile screen... */
@media only screen and (min-width: 768px) {
    body {
        margin: 0;
        /* border: 4px solid #73AD21; */
    }

    form, input {
        font-size: 2vw;
    }

    a, tr {
        font-size: 1.8vw;
    }

    .disclaimer {
        grid-column: 1;
        padding-top: 2vw;
    }

    .disclaimerp {
        font-size: 2vw;
        text-align: start;
        padding-left: 4px;
    }

    .image {
        grid-column: 2;
        width: 100%;
    }

    .noscroll {
        overflow: hidden;
        position: sticky; top: 0px;
        background:inherit;
    }

    .headerdate {
        grid-column: 3;
        padding-top: 3vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }

    .header {
        display: grid;
        grid-template-columns: 1.25fr 1fr .75fr;
    }

    .prize {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .admin {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #date {
        font-size: 2vw;
    }

    .announcement {
        font-size: 2vw;
        font-weight: bold;
        color: green;
    }

    div.prize-left p {
        margin-bottom: 0;
        margin-top: 2%;
    }

    div.prize-right p {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .prize-left {
        font-size: 1.5vw;
    }

    .prize-right {
        grid-column: 2;
        font-size: 1.5vw;
        /*border: 2px solid #73AD21;*/
    }

    .admin-left {
        font-size: 1.5vw;
    }

    .admin-right {
        grid-column: 2;
        font-size: 1.5vw;
        /*border: 2px solid #73AD21;*/
    }
}
